/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #2f2e41;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;

.heading-area- {
  margin-bottom: 90px;
}

.--main-p-- {
  font-family: "Poppins";
  font-weight: 700;
  text-transform: capitalize;
  color: #ef4126;
  letter-spacing: 1px;
  text-align: center;
}

.--main-h-- {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #2f2e41;
}

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../fonts/Poppins/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/body/body.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/header/navbar.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/banner/banner.css");

.--banner-- {
  margin-top: 130px;

  .--banner-content-- {
    text-align: center;

    h2 {
      text-align: center;
      font-size: 50px;
    }
    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 1100px) {
  .--banner-- {
    background: #f6faff;
  }
}

@media screen and (max-width: 1000px) {
  .--banner-- {
    background: #f6faff;
    height: fit-content;
    .--banner-bg-- {
      display: none;
    }
    .--banner-content-- {
      position: relative;
      left: unset;
      top: unset;
      transform: translateY(0);
      z-index: 99;
      width: 100%;
      padding: 50px 20px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>> How It Works  <<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.-how-it-works {
  padding: 40px 0px 0px 0px;
  .container {
    padding: 0;
    max-width: 100%;
    .step-1-,
    .step-3- {
      background: #f6faff;
    }
    .container {
      max-width: 1400px;
      .row {
        padding: 90px 0px;
        h2 {
          font-family: "Montserrat";
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 30px;
          color: #2f2e41;
          span {
            color: #ef4126;
          }
        }
        p {
          padding-right: 20%;
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> About Us <<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/FAQ/FAQ.css");

.--about--us-- {
  padding: 80px 0px 80px 0px;

  .heading-area- {
    text-align: center;
    margin-bottom: 90px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>> Contact Konfidential <<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--contact-konfidential-- {
  padding: 95px 20px 15px 20px;

  .heading-area- {
    margin-bottom: 90px;
  }
  .container {
    padding: 0;
    max-width: 1036px;
    /* Main Heading and Back option */
    .--contact-heading-- {
      display: flex;
      margin-bottom: 31px;
      .--main-heading-- {
        h1 {
          font-family: "Montserrat";
          font-size: 28px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: normal;
          color: $black;
          span {
            color: #ef4126;
          }
        }
      }
      .--go-back-- {
        float: right;
        margin-left: auto;
        margin-right: 0;
        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.57;
          letter-spacing: normal;
          color: $black;
          transition: 0.3s;
          &:hover {
            color: #ef4126;
            transition: 0.3s;
          }
        }
      }
    }
    /* Timing Paragraph */
    .--timing-- {
      p {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: $white;
        &:first-of-type {
          margin-bottom: 25px;
        }
      }
    }
    /* Phone/Whatsapp/Email */
    .--contact--through-- {
      margin: 38px 0px 30px 0px;
      .row {
        margin: 0;
        padding: 0;
        .col-lg-4 {
          margin: 0;
          text-align: center;
          padding: 14px 0px;
          border: 1px solid #ef4126;
          border-right: none;
          transition: 0.5s;
          cursor: pointer;
          &.-phone {
            border-left: none;
          }
          &.-email {
            border-right: none;
          }
          a {
            text-decoration: none;
            color: unset;
          }
          span {
            color: $black;
            transition: 0.3s;
            svg {
              .svg-fill {
                fill: #ef4126;
                transition: 0.3s;
              }
            }
          }
          &:hover {
            background: #ef4126;
            transition: 0.5s;
            span {
              color: $white;
              transition: 0.3s;
              svg {
                .svg-fill {
                  fill: $white;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
    /* Contact Form */
    .--contact--form-- {
      margin-bottom: 35px;
      position: relative;
      height: fit-content;
      h2 {
        font-family: "Spectral";
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #c9a882;
      }
      form {
        .row {
          margin: 0;
          padding: 0;
          .col-lg-6,
          .col-lg-12 {
            padding-left: 0;
            margin-top: 21px;
            padding: 0;
          }
          .col-lg-6 {
            margin: 0;
            &:first-of-type,
            &:nth-child(3) {
              padding-right: 30px;
            }
          }
          /* label */
          label {
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #f6faff;
            padding: 0;
          }
          /* input/textarea */
          input,
          textarea {
            width: 100%;
            display: block;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $black;
            border: none;
            outline: none;
            background: transparent;
            background: #f6faff;
            padding: 15px 15px;
            &::placeholder {
              color: $black;
            }
          }
          /* input borderon error */
          input,
          textarea {
            border: 1px solid #f6faff;
            &:focus {
              border: 1px solid #ef4126;
            }
          }
          textarea {
            height: 115px;
          }
          /* Error Message */
          .error-message {
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            margin-top: 5px;
            letter-spacing: normal;
            color: #ef4126;
          }
          input[type="submit"] {
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            color: $white;
            width: 213px;
            padding: 8px 0px;
            text-transform: capitalize;
            border-radius: 30px;
            background-color: #ef4126;
            transition: 0.6s;
            &:hover {
              background-color: $black;
              transition: 0.6s;
            }
          }
          .all-conditions-required {
            margin-top: 25px;
            p {
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.67;
              letter-spacing: normal;
              color: $black;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .--contact-konfidential-- {
    padding: 55px 100px 35px 100px;
  }
}

@media screen and (max-width: 991px) {
  .--contact-konfidential-- {
    .container {
      /* Phone/Whatsapp/Email */
      .--contact--through-- {
        .row {
          justify-content: center;
          .col-lg-4 {
            max-width: 171px;
            &.-email {
              border-right: none;
              max-width: 226px !important;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .--contact-konfidential-- {
    padding: 81px 100px 25px 100px;
    .container {
      .--contact-heading-- {
        /* Display none on tab */
        .--go-back-- {
          display: none;
        }
      }
      /* Contact form */
      .--contact--form-- {
        form {
          .row {
            .col-lg-6 {
              &:first-of-type,
              &:nth-child(3) {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .--contact-konfidential-- {
    padding: 44px 80px 20px 80px;
    .container {
      /* Main Heading */
      .--contact-heading-- {
        margin-bottom: 21px;
        .--main-heading-- {
          h1 {
            font-size: 24px;
          }
        }
      }
      /* Phone/Whatsapp/Email */
      .--contact--through-- {
        .row {
          justify-content: center;
          display: block;
          .col-lg-4 {
            max-width: 100%;
            border-left: none;
            border-bottom: none;
            &.-email {
              max-width: 100% !important;
              border-bottom: 1px solid $golden;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
      /* Contact form */
      .--contact--form-- {
        form {
          .row {
            .col-lg-6,
            .col-lg-12 {
              margin-top: 16px;
            }
            .col-lg-6 {
              &:first-of-type,
              &:nth-child(3) {
                padding-right: 0px;
              }
            }
            .error-message {
              margin: 5px 0px 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .--contact-konfidential-- {
    padding: 44px 20px 20px 20px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>> Confirmation Message <<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--confirmation-message-- {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 99999;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
  .--content-- {
    text-align: center;
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    .--confirmed--icon-- {
      position: relative;
      margin: 0 auto;
      width: 115px;
      height: 115px;
      border: solid 1px #ef4126;
      border-radius: 50%;
      margin-bottom: 25px;
      svg {
        width: 54px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .--text-- {
      margin-bottom: 42px;
      p {
        font-size: 16px;
        line-height: 1.88;
      }
    }
    .--confirmed-- {
      span {
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .--confirmation-message-- {
    .--content-- {
      padding: 0px 30px;
      .--text-- {
        p {
          br {
            display: none;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../sass/common/login/login-pop-up.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.preloader {
  position: fixed;
  z-index: 999999999999;
  width: 100%;
  top: 0;
  left: 0;
  place-items: center;

  height: 100vh;

  background-color: #fff;

  .toggle-loader {
    position: absolute;
    top: 40px;
    right: 40px;

    padding: 10px 40px;

    color: #040808;

    background-color: #ef4126;
    box-shadow: 0 0 6px #ef4126;

    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: box-shadow 0.2s ease;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px #ef4126;
    }

    &:active {
      box-shadow: 0 0 2px #ef4126;
    }
  }

  .loader {
    --loader-color: #ef4126;
    --loader-shadow-color: #ef4126;
    --loader-part-size: 17px;
    --loader-size: calc(var(--loader-part-size) * 3);
    position: relative;
    width: var(--loader-size);
    height: var(--loader-size);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
      display: none;
    }

    span {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      width: var(--loader-part-size);
      height: var(--loader-part-size);

      background-color: var(--loader-color);
      box-shadow: 0 0 5px var(--loader-shadow-color);

      transform-origin: center center;

      animation: main 6s ease infinite, fading 6s ease infinite;

      &:nth-child(1) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: var(--loader-part-size), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);

        top: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.2s;
      }

      &:nth-child(2) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: 0px, calc(var(--loader-part-size) * -1);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);

        top: var(--loader-part-size);
        left: 0;
      }

      &:nth-child(3) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: 0px, var(--loader-part-size);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);

        top: var(--loader-part-size);
        right: 0;

        animation-delay: 0s, 0.4s;
      }

      &:nth-child(4) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: calc(var(--loader-part-size) * -1), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);

        bottom: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.6s;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.2;
  }
  16.6%,
  33.2% {
    opacity: 1;
  }
  41.6% {
    opacity: 0.2;
  }
  50%,
  66.6% {
    opacity: 1;
  }
  74.9% {
    opacity: 0.2;
  }
  83.2%,
  100% {
    opacity: 1;
  }
}

@keyframes main {
  0%,
  25% {
    transform: rotate(0) translate(0, 0);
  }
  33.3%,
  58.3% {
    transform: rotate(45deg) translate(var(--translationValue));
  }
  62.45% {
    transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
  }
  66.6%,
  91.6% {
    transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}
