/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */
/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");
/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
@import url("../../../sass/common/body/body.css");
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
@import url("../../../sass/common/header/navbar.css");
@import url("../../../sass/common/banner/banner.css");
@import url("../../../sass/common/signature/signature.css");
@import url("../../../sass/common/footer/footer.css");
@import url("../../../sass/common/login/login-pop-up.css");
.navbar .--navbar--left-- {
  margin-top: -104px;
}

.navbar .--navbar--right-- {
  margin-top: -106px;
}

@media screen and (max-width: 1334px) {
  .navbar .--navbar--left-- {
    margin-top: 0px;
  }
  .navbar .--navbar--right-- {
    margin-top: 0px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--banner-- .--banner-content-- {
  bottom: 163px;
}

.--banner-- .--banner-content-- .advertise-here {
  text-align: center;
  margin-top: 40px;
}

.--banner-- .--banner-content-- .advertise-here a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background: #c9a882d2;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 11px 30px;
}

.--banner-- .--banner-content-- .advertise-here a:hover {
  background: #c9a882;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .--banner-- .--banner-content-- {
    top: unset;
    bottom: 113px;
  }
}

@media screen and (max-width: 620px) {
  .--banner-- .--banner-content-- {
    top: unset;
    bottom: 69px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>> Contact Konfidential <<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--contact-konfidential-- {
  padding: 100px 20px 87px 20px;
  /* How to advertise on Konfidential */
  /* Why to advertise on Konfidential */
}

.--contact-konfidential-- .container.how {
  max-width: 1179px;
  margin-bottom: 117px;
  padding: 0;
}

.--contact-konfidential-- .container.how h1 {
  font-family: "Spectral";
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  margin-bottom: 50px;
  color: #c9a882;
}

.--contact-konfidential-- .container.how h3 {
  font-family: "Spectral";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 35px;
  color: #c9a882;
}

.--contact-konfidential-- .container.how .--steps-- {
  padding: 0px 20px 0px 50px;
  margin-top: 102px;
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 {
  position: relative;
  margin: 0;
  padding: 23px 40px 0px 33px;
  border-left: 1px solid #c9a882;
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- .--number-- {
  position: absolute;
  top: -67px;
  left: -34px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 1px solid #c9a882;
  text-align: center;
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- .--number-- .-number {
  position: relative;
  height: 100%;
  width: 100%;
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- .--number-- .-number span {
  font-family: "Spectral";
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #c9a882;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- h4 {
  font-family: "Spectral";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 14px;
  color: #c9a882;
}

.--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}

.--contact-konfidential-- .container.why {
  padding: 0;
  max-width: 1036px;
}

.--contact-konfidential-- .container.why .--why-konfidential-- {
  /* heading */
  /* Our Timings */
  /* Phone/Whatsapp/Email */
}

.--contact-konfidential-- .container.why .--why-konfidential-- h2 {
  font-family: "Spectral";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 15px;
  color: #c9a882;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--timing-- p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--timing-- p:first-of-type {
  margin-bottom: 25px;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- {
  margin-top: 38px;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row {
  margin: 0;
  padding: 0;
  text-align: center;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4 {
  margin: 0;
  text-align: center;
  padding: 14px 0px;
  border: 1px solid #c9a882;
  border-right: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4.-phone {
  border-left: none;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4.-email {
  border-right: none;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4 a {
  text-decoration: none;
  color: unset;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4 span {
  color: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4 span svg .svg-fill {
  fill: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4:hover {
  background: #c9a882;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4:hover span {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .col-lg-4:hover span svg .svg-fill {
  fill: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .advertise-here {
  margin-top: 55px;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .advertise-here a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding: 11px 90px;
  background: #c9a882d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--contact-konfidential-- .container.why .--why-konfidential-- .--contact--through-- .row .advertise-here a:hover {
  background: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .--contact-konfidential-- {
    padding: 100px 50px 87px 50px;
  }
}

@media screen and (max-width: 1024px) {
  .--contact-konfidential-- {
    padding: 100px 100px 87px 100px;
  }
  .--contact-konfidential-- .container.how .--steps-- {
    display: block;
  }
  .--contact-konfidential-- .container.how .--steps-- .col-lg-4 {
    max-width: 100%;
    padding: 5px 0px 30px 33px;
    margin-top: 67px;
  }
  .--contact-konfidential-- .container.how .--steps-- .col-lg-4:first-of-type {
    margin-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .--contact-konfidential-- .container {
    /* Phone/Whatsapp/Email */
  }
  .--contact-konfidential-- .container .--contact--through-- .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4 {
    max-width: 171px;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4.-email {
    border-right: none;
    max-width: 226px !important;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4 span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .--contact-konfidential-- {
    padding: 81px 94px 60px 94px;
  }
  .--contact-konfidential-- .container.how {
    margin-bottom: 68px;
  }
  .--contact-konfidential-- .container.how h3 {
    display: none;
  }
  .--contact-konfidential-- .container.how .--steps-- {
    margin-top: 110px;
  }
}

@media screen and (max-width: 767px) {
  .--contact-konfidential-- {
    padding: 81px 40px 60px 40px;
  }
  .--contact-konfidential-- .container {
    /* Phone/Whatsapp/Email */
  }
  .--contact-konfidential-- .container .--contact--through-- .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4 {
    max-width: 100%;
    border-left: none !important;
    border-bottom: none !important;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4.-email {
    max-width: 100% !important;
    border-bottom: 1px solid #c9a882 !important;
  }
  .--contact-konfidential-- .container .--contact--through-- .row .col-lg-4 span {
    font-size: 14px;
  }
}

@media screen and (max-width: 620px) {
  .--contact-konfidential-- {
    padding: 44px 20px 60px 20px;
  }
  .--contact-konfidential-- .container.how {
    margin-bottom: 60px;
  }
  .--contact-konfidential-- .container.how h1 {
    font-size: 24px;
  }
  .--contact-konfidential-- .container.how .--steps-- {
    margin-top: 90px;
    padding: 0px 20px 0px 40px;
  }
  .--contact-konfidential-- .container.how .--steps-- .col-lg-4 {
    margin-top: 51px;
  }
  .--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- .--number-- {
    position: absolute;
    top: -51px;
    left: -26px;
    width: 51px;
    height: 51px;
  }
  .--contact-konfidential-- .container.how .--steps-- .col-lg-4 .--step-- .--number-- .-number span {
    font-size: 25px;
  }
  .--contact-konfidential-- .container.why .--why-konfidential-- {
    /* heading */
  }
  .--contact-konfidential-- .container.why .--why-konfidential-- h2 {
    font-size: 20px;
  }
  .--contact-konfidential-- .container.why .--why-konfidential-- .advertise-here {
    margin-top: 40px !important;
    background: #c9a882;
  }
  .--contact-konfidential-- .container.why .--why-konfidential-- .advertise-here a {
    display: block;
    width: 100%;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 574px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=announcements.css.map */