/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>> Fonts Sizes <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");
@import url("../../../fonts/Spectral/stylesheet.css");
@import url("../../../sass/common/body/body.css");
@import url("../../../sass/common/header/navbar.css");
@import url("../../../sass/common/banner/banner.css");
@import url("../../../sass/common/footer/footer.css");
@import url("../../../sass/common/login/login-pop-up.css");
:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */
/* >>>>>>>>> Montserrat <<<<<<<<< */
/* >>>>>>>>> Spectral <<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--banner-bg-- {
  position: relative;
  background: url("../../../images/404/banner-desk.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.--banner-content-- {
  top: 56.7%;
  left: 67.9%;
  bottom: unset;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  /* Main Heading */
  /* Sub Heading */
  /* Paragraph */
  /* Button */
}

.--banner-content-- h1 {
  font-family: "Spectral";
  font-size: 150px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #c9a882;
  margin-bottom: 6px;
  text-align: left;
}

.--banner-content-- h2 {
  font-family: "Spectral";
  font-size: 60px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #c9a882;
  margin-bottom: 16px;
  text-align: left;
}

.--banner-content-- P {
  font-family: "Spectral";
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #c9a882;
  margin-bottom: 35px;
}

.--banner-content-- a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding: 11px 30px;
  background: #c9a882d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--banner-content-- a:hover {
  background: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .--banner-bg-- {
    height: calc(100vh - 160px);
  }
  .--banner-content-- {
    top: 55.8%;
    left: 55.9%;
  }
}

@media screen and (max-width: 768px) {
  .--banner-bg-- {
    background: url("../../../images/404/banner-tab.jpg");
  }
  .--banner-content-- {
    /* Main Heading */
    /* Sub Heading */
  }
  .--banner-content-- h1 {
    font-size: 130px;
  }
  .--banner-content-- h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 620px) {
  .--banner-content-- {
    /* Main Heading */
    /* Sub Heading */
    /* Paragraph */
  }
  .--banner-content-- h1 {
    font-size: 100px;
  }
  .--banner-content-- h2 {
    font-size: 40px;
  }
  .--banner-content-- P {
    font-size: 16px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 375px) {
  .--banner-bg-- {
    background: url("../../../images/404/banner-mob.jpg");
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=404.css.map */