/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--signature-- {
  position: fixed;
  z-index: 999;
  top: 77.9%;
  right: 88px;

  /* >>>>>>>> Animation <<<<<<< */
  svg {
    animation: rotation 23s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .--signature-- {
    top: 80.4%;
    right: 40px;
  }
}

@media screen and (max-width: 700px) {
  .--signature-- {
    display: none;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
