/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */
/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");
/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
@import url("../../../sass/common/body/body.css");
@import url("../../../sass/common/header/navbar.css");
@import url("../../../sass/common/footer/footer.css");
body {
  background: #efefef;
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* Changing hover colors to black as header bg is white now */
.navbar {
  background: white;
  /* >>>>>>>> Left <<<<<<< */
  /* >>>>>>>> Center <<<<<<< */
  /* >>>>>>>> Right <<<<<<< */
}

.navbar .--navbar--left-- .nav-item.login .nav-link:hover {
  color: #000000;
}

.navbar .--navbar--center-- .--center--list-- .nav-link:hover {
  color: #000000 !important;
}

.navbar .--navbar--right-- form input {
  color: #000000;
}

.navbar .--navbar--right-- form .--search-- svg:hover .icon {
  fill: #000000;
}

@media screen and (max-width: 1334px) {
  /* >>>>>>>> Right <<<<<<< */
  .--navbar--right-- form input {
    color: #ffffff !important;
  }
  .--navbar--right-- form .--search-- svg:hover .icon {
    fill: #ffffff;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>> My Ads - Private Area <<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--my-ads-- {
  padding: 302px 20px 80px 20px;
  min-height: calc(100vh - 100px);
}

.--my-ads-- .container {
  max-width: 950px;
  /* Main Heading */
  /* Content Area */
}

.--my-ads-- .container h1 {
  font-family: "Spectral";
  font-size: 45px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 120px;
  color: #000000;
}

.--my-ads-- .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.--my-ads-- .container .row .col-lg-5,
.--my-ads-- .container .row .col-lg-7 {
  padding: 0;
}

.--my-ads-- .container .row .col-lg-5 {
  max-width: 397px;
}

.--my-ads-- .container .row .col-lg-5 .--images-- img {
  width: 100%;
}

.--my-ads-- .container .row .col-lg-7 {
  max-width: 581px;
  padding: 10px 48px;
}

.--my-ads-- .container .row .col-lg-7 .--details-- {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.--my-ads-- .container .row .col-lg-7 .--details-- h2 {
  font-family: "Spectral";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px 0px 40px 0px;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-views,
.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-expire-date {
  width: 50%;
  padding: 15px 25px;
  border: 1px solid #979797;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-views p,
.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-expire-date p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-views p span,
.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-expire-date p span {
  font-weight: 600;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-views {
  border-right: none;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add a,
.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change a {
  text-transform: uppercase;
  text-decoration: none;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add {
  margin-right: 39px;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add a {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  padding: 11px 35px;
  background: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #000000;
  color: #c9a882;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: unset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c9a882;
}

@media screen and (max-width: 1024px) {
  .--my-ads-- {
    padding: 252px 40px 125px 40px;
  }
  .--my-ads-- .container {
    /* Main Heading */
    /* Content Area */
  }
  .--my-ads-- .container h1 {
    margin-bottom: 80px;
  }
  .--my-ads-- .container .row .col-lg-5 {
    max-width: 100%;
  }
  .--my-ads-- .container .row .col-lg-7 {
    max-width: 100%;
    padding: 0px 0px 10px 25px;
  }
}

@media screen and (max-width: 991px) {
  .--my-ads-- {
    padding: 202px 40px 20px 40px;
  }
  .--my-ads-- .container {
    /* Main Heading */
    /* Content Area */
  }
  .--my-ads-- .container h1 {
    margin-bottom: 75px;
  }
  .--my-ads-- .container .row {
    padding-top: 55px;
    border-top: 1px solid #c9a882;
  }
  .--my-ads-- .container .row:first-of-type {
    padding-top: 0px;
    padding-bottom: 55px;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .--my-ads-- {
    padding: 194px 40px 60px 40px;
  }
  .--my-ads-- .container {
    /* Main Heading */
    /* Content Area */
  }
  .--my-ads-- .container h1 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  .--my-ads-- .container .row {
    padding: 30px 0px 0px;
  }
  .--my-ads-- .container .row:first-of-type {
    padding-top: 0px;
    padding-bottom: 20px;
    border: none;
  }
  .--my-ads-- .container .row .col-lg-7 {
    max-width: 100%;
    padding: 21px 0px 10px 0px;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- {
    margin: 20px 0px 20px 0px;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-views p,
  .--my-ads-- .container .row .col-lg-7 .--details-- .--ads-info-- .-expire-date p {
    font-size: 14px;
    line-height: 1.58;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add,
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change {
    width: 50%;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add a,
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change a {
    display: block;
    text-align: center;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add {
    margin: 0px;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .renew-add a {
    padding: 11px 0px;
    width: 100%;
  }
  .--my-ads-- .container .row .col-lg-7 .--details-- .--actions-- .request-change a span {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .--my-ads-- {
    padding: 194px 20px 80px 20px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> request Change <<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.pop-up.request-accessed {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  /* Main Area */
}

.pop-up.request-accessed .pop-up-contant {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
}

.pop-up.request-accessed .pop-up-contant .inner-content {
  position: relative;
  padding: 63px 55px;
  /* Heading */
  /* Form */
  /* Close Pop Up Icon */
}

.pop-up.request-accessed .pop-up-contant .inner-content p {
  font-family: "Spectral";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}

.pop-up.request-accessed .pop-up-contant .inner-content form {
  /* Input "submi" and textarea */
}

.pop-up.request-accessed .pop-up-contant .inner-content form input,
.pop-up.request-accessed .pop-up-contant .inner-content form textarea {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #000000;
  border: none;
  outline: none;
  padding: 11px 10px;
}

.pop-up.request-accessed .pop-up-contant .inner-content form textarea {
  width: 100%;
  height: 115px;
  border: solid 1px #000000;
  margin-bottom: 30px;
  width: 504px !important;
}

.pop-up.request-accessed .pop-up-contant .inner-content form input[type="submit"] {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #000000;
  width: 213px;
  padding: 8px 0px;
  text-transform: uppercase;
  background-color: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pop-up.request-accessed .pop-up-contant .inner-content form input[type="submit"]:hover {
  background-color: #000000;
  color: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pop-up.request-accessed .pop-up-contant .inner-content .--close-pop-up-- {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 27px;
}

.pop-up.request-accessed .pop-up-contant .inner-content .--close-pop-up-- svg .icon {
  fill: #000000;
}

@media screen and (max-width: 650px) {
  .pop-up.request-accessed {
    /* Main Area */
  }
  .pop-up.request-accessed .pop-up-contant {
    width: 100%;
    padding: 0px 20px;
  }
  .pop-up.request-accessed .pop-up-contant .inner-content {
    padding: 8% 2%;
    /* Form */
    /* Close Pop Up Icon */
  }
  .pop-up.request-accessed .pop-up-contant .inner-content p {
    padding: 0px 40px;
    margin-bottom: 20px;
  }
  .pop-up.request-accessed .pop-up-contant .inner-content form {
    /* Textarea */
  }
  .pop-up.request-accessed .pop-up-contant .inner-content form textarea {
    margin-bottom: 25px;
    width: 100% !important;
  }
  .pop-up.request-accessed .pop-up-contant .inner-content .--close-pop-up-- {
    right: 0px;
    top: 17px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=my-ads.css.map */