/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;
$bodygray: #efefef;

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/body/body.css");

body {
  background: $bodygray;
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/header/navbar.css");

/* Changing hover colors to black as header bg is white now */

.navbar {
  background: white;
  /* >>>>>>>> Left <<<<<<< */
  .--navbar--left-- {
    .nav-item {
      &.login {
        .nav-link {
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  /* >>>>>>>> Center <<<<<<< */
  .--navbar--center-- {
    .--center--list-- {
      .nav-link {
        &:hover {
          color: $black !important;
        }
      }
    }
  }
  /* >>>>>>>> Right <<<<<<< */
  .--navbar--right-- {
    form {
      input {
        color: $black;
      }
      .--search-- {
        svg {
          &:hover {
            .icon {
              fill: $black;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  /* >>>>>>>> Right <<<<<<< */
  .--navbar--right-- {
    form {
      input {
        color: $white !important;
      }
      .--search-- {
        svg {
          &:hover {
            .icon {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>> My Ads - Private Area <<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--my-ads-- {
  padding: 302px 20px 80px 20px;
  min-height: calc(100vh - 100px);
  .container {
    max-width: 950px;

    /* Main Heading */
    h1 {
      font-family: "Spectral";
      font-size: 45px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 120px;
      color: $black;
    }
    /* Content Area */
    .row {
      display: flex;
      padding-bottom: 50px;

      .col-lg-5,
      .col-lg-7 {
        padding: 0;
      }
      .col-lg-5 {
        max-width: 397px;
        .--images-- {
          img {
            width: 100%;
          }
        }
      }
      .col-lg-7 {
        max-width: 581px;
        padding: 10px 48px;
        .--details-- {
          width: 100%;
          height: fit-content;
          h2 {
            font-family: "Spectral";
            font-size: 24px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: $black;
          }
          .--ads-info-- {
            display: flex;
            width: 100%;
            margin: 30px 0px 40px 0px;
            .-views,
            .-expire-date {
              width: 50%;
              padding: 15px 25px;
              border: 1px solid #979797;
              p {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                color: $black;
                margin: 0;
                span {
                  font-weight: 600;
                }
              }
            }
            .-views {
              border-right: none;
            }
          }
          .--actions-- {
            display: flex;
            .renew-add,
            .request-change {
              a {
                text-transform: uppercase;
                text-decoration: none;
                font-stretch: normal;
                font-style: normal;
                color: $black;
              }
            }
            .renew-add {
              margin-right: 39px;
              a {
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: normal;
                padding: 11px 35px;
                background: $golden;
                transition: 0.3s;
                &:hover {
                  transition: 0.3s;
                  background-color: $black;
                  color: $golden;
                }
              }
            }
            .request-change {
              a {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: unset;
                transition: 0.3s;
                &:hover {
                  transition: 0.3s;
                  color: $golden;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .--my-ads-- {
    padding: 252px 40px 125px 40px;
    .container {
      /* Main Heading */
      h1 {
        margin-bottom: 80px;
      }
      /* Content Area */
      .row {
        .col-lg-5 {
          max-width: 100%;
        }
        .col-lg-7 {
          max-width: 100%;
          padding: 0px 0px 10px 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .--my-ads-- {
    padding: 202px 40px 20px 40px;
    .container {
      /* Main Heading */
      h1 {
        margin-bottom: 75px;
      }
      /* Content Area */
      .row {
        padding-top: 55px;
        border-top: 1px solid $golden;
        &:first-of-type {
          padding-top: 0px;
          padding-bottom: 55px;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .--my-ads-- {
    padding: 194px 40px 60px 40px;
    .container {
      /* Main Heading */
      h1 {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 60px;
      }
      /* Content Area */
      .row {
        padding: 30px 0px 0px;
        &:first-of-type {
          padding-top: 0px;
          padding-bottom: 20px;
          border: none;
        }
        .col-lg-7 {
          max-width: 100%;
          padding: 21px 0px 10px 0px;
          .--details-- {
            h2 {
              font-size: 20px;
              font-weight: 400;
            }
            .--ads-info-- {
              margin: 20px 0px 20px 0px;
              .-views,
              .-expire-date {
                p {
                  font-size: 14px;
                  line-height: 1.58;
                }
              }
            }
            .--actions-- {
              display: flex;
              align-items: center;
              width: 100%;
              .renew-add,
              .request-change {
                width: 50%;
                a {
                  display: block;
                  text-align: center;
                }
              }
              .renew-add {
                margin: 0px;
                a {
                  padding: 11px 0px;
                  width: 100%;
                }
              }
              .request-change {
                a {
                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .--my-ads-- {
    padding: 194px 20px 80px 20px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> request Change <<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.pop-up {
  &.request-accessed {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    /* Main Area */
    .pop-up-contant {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
      .inner-content {
        position: relative;
        padding: 63px 55px;
        /* Heading */
        p {
          font-family: "Spectral";
          font-size: 24px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: center;
          margin-bottom: 40px;
          color: $black;
        }
        /* Form */
        form {
          /* Input "submi" and textarea */
          input,
          textarea {
            display: block;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $black;
            border: none;
            outline: none;
            padding: 11px 10px;
          }
          textarea {
            width: 100%;
            height: 115px;
            border: solid 1px $black;
            margin-bottom: 30px;
            width: 504px !important;
          }
          input[type="submit"] {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            color: $black;
            width: 213px;
            padding: 8px 0px;
            text-transform: uppercase;
            background-color: $golden;
            transition: 0.3s;
            &:hover {
              background-color: $black;
              color: $golden;
              transition: 0.3s;
            }
          }
        }
        /* Close Pop Up Icon */
        .--close-pop-up-- {
          position: absolute;
          cursor: pointer;
          right: 30px;
          top: 27px;
          svg {
            .icon {
              fill: $black;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .pop-up {
    &.request-accessed {
      /* Main Area */
      .pop-up-contant {
        width: 100%;
        padding: 0px 20px;
        .inner-content {
          padding: 8% 2%;
          p {
            padding: 0px 40px;
            margin-bottom: 20px;
          }
          /* Form */
          form {
            /* Textarea */
            textarea {
              margin-bottom: 25px;
              width: 100% !important;
            }
          }
          /* Close Pop Up Icon */
          .--close-pop-up-- {
            right: 0px;
            top: 17px;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
