/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/body/body.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/header/navbar.css");

.navbar {
  .--navbar--left-- {
    margin-top: -104px;
  }
  .--navbar--right-- {
    margin-top: -106px;
  }
}
@media screen and (max-width: 1334px) {
  .navbar {
    .--navbar--left-- {
      margin-top: 0px;
    }
    .--navbar--right-- {
      margin-top: 0px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>> Terms & Conditions <<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.terms-and-conditions {
  padding: 302px 20px 68px 20px;
  min-height: calc(100vh - 157px);
  .container {
    max-width: 1035px;
    padding: 0;
    /* Main Heading */
    h1 {
      font-family: "Spectral";
      font-size: 45px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      margin-bottom: 105px;
    }
    .--terms-- {
      .term {
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }
        h2 {
          font-family: "Spectral";
          font-size: 24px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          margin-bottom: 15px;
          color: $golden;
        }
        p {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          margin-bottom: 25px;
          color: $white;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .terms-and-conditions {
    padding: 202px 99px 68px 99px;
  }
}

@media screen and (max-width: 768px) {
  .terms-and-conditions {
    padding: 202px 99px 68px 99px;
    .container {
      h1 {
        margin-bottom: 75px;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .terms-and-conditions {
    padding: 174px 20px 68px 20px;
    .container {
      h1 {
        margin-bottom: 60px;
        font-size: 35px;
      }
      .--terms-- {
        .term {
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/signature/signature.css");

/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 401px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/login/login-pop-up.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
