/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);

/* >>>>>>>> Fonts Sizes <<<<<<<<< */

:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> Our Locations <<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--locations-- {
  position: relative;
  width: 100%;
  height: 854px;
  background: url("../../../images/home/bg--1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0px 85px 0px;
  .container {
    height: 100%;

    /* >>>> Main Title <<<< */
    h2 {
      font-family: "Spectral", serif;
      font-size: 58px;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }

    /* >>>> Line <<<< */
    .--line-- {
      width: 1px;
      height: 80px;
      margin: 0 auto;
      margin-top: 32px;
      margin-bottom: 38px;
      background-color: $golden;
    }

    /* >>>> All Locations (City) <<<< */
    .--all--locations-- {
      text-align: center;

      /* >>>> Each Location <<<< */
      a {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $golden;
        text-transform: uppercase;
        padding: 6px 14px;
        margin: 5px;
        line-height: 45px;
        text-decoration: none;
        border: solid 1px rgba(201, 168, 130, 0.5);
        transition: 0.3s;
        &:hover {
          color: $black;
          background: $golden;
          transition: 0.3s;
        }
      }
    }
    /* >>>> Paragraph <<<< */
    p {
      font-size: var(--paragraph);
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      margin-top: 20px;
      text-align: center;
      color: $white;
    }

    span {
      display: none;
    }

    /* >>>> View All Button <<<< */
    .--view--all-- {
      width: 100%;
      text-align: center;
      margin-top: 45px;
      a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        opacity: 0.6;
        letter-spacing: normal;
        text-transform: uppercase;
        text-align: center;
        color: $golden06;
        padding: 10px 27px;
        border-bottom: 1px solid $golden06;
        transition: 0.3s;
        &:hover {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .--locations-- {
    height: 854px;
    padding: 95px 0px 105px 0px;
    .container {
      height: 100%;
      max-width: 100% !important;

      /* >>>> Main Title <<<< */
      h2 {
        font-size: 35px;
        font-weight: 300;
      }

      /* >>>> Line <<<< */
      .--line-- {
        margin-top: 25px;
        margin-bottom: 32px;
      }

      /* >>>> All Locations (City) <<<< */
      .--all--locations-- {
        text-align: center;

        a {
          padding: 6px 14px;
          margin: 5px;
          line-height: 57px;
          &:nth-child(5)::after,
          &:nth-child(12)::after,
          &:nth-child(17)::after,
          &:nth-child(24)::after {
            content: "\A";
            white-space: pre;
          }
          &:nth-child(28),
          &:nth-child(27),
          &:nth-child(26),
          &:nth-child(25) {
            display: none;
            background: red !important;
            margin-top: 200px !important;
          }
        }
        br {
          display: none;
        }
      }

      /* >>>> Paragraph <<<< */
      p {
        font-size: var(--paragraph);
        margin-top: 20px;
        padding: 0px 10%;
        br {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .--locations-- {
    .container {
      /* >>>> Paragraph <<<< */
      p {
        padding: 0px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .--locations-- {
    height: 960px !important;
    padding: 95px 0px 109px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      height: 100%;
      max-width: 100% !important;

      /* >>>> Main Title <<<< */
      h2 {
        br {
          display: none;
        }
      }

      /* >>>> Line <<<< */
      .--line-- {
        margin-bottom: 40px;
      }

      /* >>>> All Locations (City) <<<< */
      .--all--locations-- {
        text-align: center;
        /* >>>> Each Location <<<< */
        a {
          padding: 6px 14px;
          margin: 5px;
          line-height: 57px;
          display: none;

          &:nth-child(-n + 11) {
            display: block;
            display: unset;
          }
          &:nth-child(3)::after,
          &:nth-child(8)::after {
            content: "\A";
            white-space: pre;
          }
        }
      }

      p {
        padding: 0px 10%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .--locations-- {
    .container {
      /* >>>> Line <<<< */
      .--line-- {
        margin-bottom: 30px;
      }
      /* >>>> Paragraph <<<< */
      p {
        padding: 0px 5px 0px 5px;
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
