/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$white05: rgba(255, 255, 255, 0.5);
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);

/* >>>>>>>> Fonts Sizes <<<<<<<<< */

:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/body/body.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/header/navbar.css");

.navbar {
  .--navbar--left-- {
    margin-top: -104px;
  }
  .--navbar--right-- {
    margin-top: -106px;
  }
}
@media screen and (max-width: 1334px) {
  .navbar {
    .--navbar--left-- {
      margin-top: 0px;
    }
    .--navbar--right-- {
      margin-top: 0px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/banner/banner.css");

.--banner-content-- {
  bottom: 109px;
}

@media screen and (max-width: 768px) {
  .--banner-- {
    .--banner-content-- {
      top: unset;
      bottom: 76px;
      h2 {
        br {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .--banner-content-- {
    top: unset;
    bottom: 66px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/signature/signature.css");

/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 570px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    top: 394px;
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>> Locations <<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--all--locations-- {
  padding: 100px 20px 90px 20px;
  .container {
    padding: 0px;
    /* >>>>>>>> Heading <<<<<<< */
    h1 {
      font-family: "Spectral";
      font-size: 35px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: $golden;
      margin-bottom: 41px;
      span {
        font-family: "Spectral";
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $golden;
      }
    }
    /* >>>>>>>> Row <<<<<<< */
    .row {
      padding: 0px 15px;
      margin-bottom: 47px;
      /* >>>>>>>> Columns <<<<<<< */
      .col-lg-3 {
        padding: 0;
        /* >>>>>>>> Each List <<<<<<< */
        .--lists-of-locations-- {
          ul {
            list-style: none;
            padding: 0;
            /* >>>>>>>> Each li element <<<<<<< */
            li {
              margin-bottom: 10px;
              /* State */
              h2 {
                font-family: "Spectral";
                font-size: 24px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: $golden;
                margin-bottom: 20px;
                text-transform: uppercase;
              }
              a {
                text-decoration: none;
                /* City */
                h3 {
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.88;
                  letter-spacing: normal;
                  color: $white;
                  transition: 0.3s;
                  &:hover {
                    color: $golden;
                    transition: 0.3s;
                  }
                }
              }
            }
          }
        }
      }
      /* >>>>>>>> Remove Bottom margin from last row <<<<<<< */
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .--all--locations-- {
    padding: 81px 20px 60px 100px;
  }
}

@media screen and (max-width: 768px) {
  .--all--locations-- {
    .container {
      .row {
        margin-bottom: 35px;
        .col-lg-3 {
          margin-bottom: 35px;
          &:nth-last-of-type(-n + 2) {
            margin-bottom: 0;
          }
          .--lists-of-locations-- {
            ul {
              li {
                h2 {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .--all--locations-- {
    padding: 44px 20px 60px 20px;
    margin: 0;
    .container {
      h1 {
        font-size: 24px;
      }
      .row {
        .col-lg-3 {
          margin-bottom: 35px;
          &:nth-last-of-type(-n + 2) {
            margin-bottom: 35px;
          }
          &:last-of-type {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/login/login-pop-up.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
