/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #2f2e41;
$white: #ffffff;
$orange: #ef4126;

/* >>>>>>>> Fonts Sizes <<<<<<<<< */

:root {
  --paragraph: 16px;
}
$navigations: 16px;

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 0px 15px 0px;
  background: transparent;
  display: flex;
  overflow: hidden;

  /* >>>> Navigations <<<< */
  .nav-link {
    font-size: $navigations;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: $black;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
  }

  /* Left */
  .--navbar--left-- {
    width: 28%;
    padding-left: 40px;
    margin-top: -65px;
    position: relative;
    .nav-link {
      padding: 8px 12px;
      &:last-child:hover {
        color: $orange;
      }
      svg {
        display: none;
      }
    }
    /* Language Dropdown */
    .--languages-- {
      display: none;
      position: absolute;
      width: 65px;
      background: $white;
      margin-left: 10px;
      transition: opacity 1s ease-out;
      z-index: 999;
      .nav-link {
        padding: 7px 12px;
        color: rgba(0, 0, 0, 0.24);
        &:hover {
          background: $white;
          color: $orange;
        }
      }
      .nav-link.active {
        background: $white;
        color: $orange;
      }
      i {
        font-size: 8px;
        padding-left: 5px;
      }
    }
    .nav-item.active {
      .--languages-- {
        display: block;
        transition: 0.5s;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
      }
    }
  }

  /* Center */
  .--navbar--center-- {
    text-align: center;
    width: 70%;
    a {
      span {
        display: none;
      }
      img {
        height: 80px;
      }
    }
    .--menu-- {
      display: none;
    }
    .--center--list-- {
      width: fit-content;
      margin: 0 auto;
      margin-top: 10px;
      .nav-item {
        .nav-link {
          padding: 0px 16px;
          &:hover {
            color: $orange;
          }
          i {
            display: none;
          }
        }
        ul {
          display: none;
        }
        &.active {
          .nav-link {
            color: $orange;
          }
        }
      }
    }
  }

  /* Right */
  .--navbar--right-- {
    width: 30%;
    padding-top: 12px;
    padding-right: 40px;
    margin-top: -67px;
    form {
      display: flex;
    }
    h6 {
      display: none;
      font-size: 35px;
      font-weight: 300;
      font-family: "Poppins";
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #2f2e41;
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    input {
      border: none;
      outline: none;
      width: 300px;
      border-bottom: 1px solid $black;
      background: transparent;
      margin-right: 14px;
      color: $black;
      padding-left: 3px;
      &::placeholder {
        color: #2f2e41a8;
      }
    }
    button {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
    /* Icon */
    .--search-- {
      svg .icon {
        fill: $orange;
        transition: 0.5s;
      }
      &:hover svg .icon {
        fill: $orange;
        transition: 0.5s;
      }
    }
    .--close-search-- {
      display: none;
    }
  }
}

/* Mobile Menu start here */
/* Mobile Menu will only be visible when */
/* active class is added to the navbar */

@media screen and (max-width: 1334px) {
  /* >>>> Mobile Menu <<<< */

  /* Setting up Menu Icons */
  /* Arranging the positions of left/center/right */
  .navbar {
    display: block;
    height: fit-content;
    padding: 0px;

    /* Left */
    .--navbar--left-- {
      margin-top: 0px;
      width: 100%;
      padding: 0px 28px 0px 28px;
      .nav-item.login,
      .nav-item.lang {
        display: inline-block;
        width: 50%;
      }
      .nav-item.login {
        text-align: right;
        .nav-link {
          svg {
            display: block;
            display: unset;
          }
        }
      }
      &.fix-it {
        position: fixed;
        background: $black;
        z-index: 9999;
      }
    }

    /* Center */
    .--navbar--center-- {
      width: 100%;
      text-align: left;
      position: relative;
      .--logo-- {
        position: relative;
        padding: 0px 28px 0px 38px;
        a {
          span {
            display: none;
          }
          img {
            width: 160px;
          }
        }
      }
      .--center--list-- {
        display: none;
        width: 100%;
      }

      /* Open/Close Search */
      .--menu-- {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 38px;
        transform: translateY(-50%);
        display: flex;
        .--nav--toggle-- {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid $orange;
          &.open-search {
            margin-right: 13px;
          }
          .toggle {
            width: fit-content;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            span {
              display: block;
              width: 20px;
              height: 1px;
              background: $orange;
              margin-bottom: 5px;
              &:first-child {
                transition: 0.5s;
              }
              &:nth-child(2) {
                width: 16px;
                margin: 0 auto;
                margin-bottom: 5px;
              }
              &:last-child {
                margin-bottom: 0;
                transition: 0.5s;
              }
            }
            svg {
              .icon {
                fill: $orange;
              }
            }
          }
        }
      }
    }

    /* Right */
    .--navbar--right-- {
      display: none !important;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 40px;
      left: 0;
      bottom: 0 !important;
      background: white;
      margin: 0;
      padding: 0;
      h6 {
        display: block;
      }
      form {
        display: block;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        margin: 0;
        padding: 0;
      }
      input {
        position: relative;
        width: 100% !important;
        border-color: #2f2e41;
        padding: 0px 30px 0px 0px;
        text-decoration: none;
      }
      .--search-- {
        position: absolute;
        bottom: 35px;
        right: 0;
        &:hover {
          svg {
            .icon {
              fill: $orange;
            }
          }
        }
      }

      /* Close Search */
      .--close-search-- {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 49px;
        right: 38px;
        transform: translateY(-50%);
        .--nav--toggle-- {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid $orange;
          .toggle {
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            svg {
              width: 16px;
              fill: $orange;
            }
          }
        }
      }

      /* Open Search */
      &.active {
        display: block !important;
      }
    }
  }

  /* >>>> Active Class Added <<<< */
  /* >>>> Mobile Menu iss visible now <<<< */

  /* Navbar - Fixed */
  .navbar.active {
    display: block;
    height: fit-content;
    padding: 0px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    background: $white;

    .nav-link {
      transition: 0s;
      &:hover {
        transition: 0s;
      }
    }

    /* Left - Fixed */
    .--navbar--left-- {
      background: $black;
      position: fixed;
      top: 0;
      padding: 0px 28px 0px 28px;
      z-index: 999999;
      transition: 0s;
      .nav-link {
        color: white;
        i {
          color: $orange;
        }
      }
    }

    /* Center - Fixed */
    .--navbar--center-- {
      width: 100%;
      text-align: left;
      top: 0px;
      height: calc(100vh - 40px);
      background: $white;
      z-index: 99;
      .--logo-- {
        position: fixed;
        background: $white;
        z-index: 999;
        top: 40px;
        width: 100%;
        box-shadow: 0 29px 51px 0 rgba(198, 206, 215, 0.24);
        a {
          font-size: 20px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $black;
          text-transform: uppercase;
          padding: 34px 12px;
          span {
            display: block;
          }
          .svg-container {
            display: none;
          }
          img {
            width: 160px;
          }
        }
      }
      .--center--list-- {
        display: block;
        width: 100%;
        padding-bottom: 15px !important;
        height: fit-content;
        position: relative;
        padding: 0px 50px;
        top: 176px;
        .nav-item {
          .nav-link {
            padding: 0;
            margin-bottom: 18px;
            font-size: 16px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            color: $black;
            transition: 0.35s ease-in-out;
            i {
              float: right;
              transition: 0.35s ease-in-out;
              display: block;
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            max-height: 0;
            transition: 0.35s ease-in-out;
            display: block;
            li {
              a {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.63);
                &.active {
                  color: $orange;
                }
              }
            }
          }
          &.active {
            .nav-link {
              color: $orange;
              font-weight: 600;
              transition: 0.35s ease-in-out;
              i {
                transform: rotate(-180deg);
                transition: 0.35s ease-in-out;
              }
            }
            ul {
              margin-bottom: 25px;
              max-height: fit-content;
              transition: 0.35s ease-in-out;
              li {
                margin-bottom: 12px;
              }
            }
          }
        }
      }

      /* Close Search */
      .--menu-- {
        .--nav--toggle-- {
          border: 1px solid $black;
          &.open-search {
            display: none;
          }
          .toggle {
            span {
              background: $black;
              width: 20px;
              height: 2px;
              &:first-child {
                transform: rotate(45deg) translate(5px, 5px);
                transition: 0.5s;
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    /* Left */
    .--navbar--left-- {
      padding: 0px 10px 0px 10px;
    }

    /* Center */
    .--navbar--center-- {
      .--logo-- {
        padding: 4px 20px 4px 20px;
      }
      .--center--list-- {
        display: none;
        width: 100%;
        top: 135px !important;
      }
      .--menu-- {
        right: 20px;
      }
    }

    /* Right */
    .--navbar--right-- {
      h6 {
        top: 30%;
        font-size: 24px;
      }
      form {
        top: 45%;
        width: 80%;
      }
      .--close-search-- {
        top: 53px;
        right: 20px;
      }
    }
  }

  /* Mobile menu is VISIBLE */
  .navbar.active {
    /* left */
    .--navbar--left-- {
      padding: 0px 10px 0px 10px;
    }

    /* Center */
    .--navbar--center-- {
      .--logo-- {
        a {
          width: fit-content !important;
          padding: 34px 0px !important;
        }
      }
      .--center--list-- {
        padding: 0px 20px;
        margin: 49px 0px 0px 0px;
      }
    }
  }
}

/* New Functionality - Pages Directions */

.navbar {
  .--navbar--center-- {
    .--page-direction-- {
      margin-top: 15px;
      span {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: $orange;
        span {
          padding: 0px 8px;
          color: #2f2e41;
        }
        a {
          text-decoration: none;
          color: #2f2e41;
        }
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .navbar {
    .--navbar--center-- {
      .--page-direction-- {
        display: none;
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
