/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */
/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");
/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Poppins/stylesheet.css");
/* >>>>>>>> Fonts Sizes <<<<<<<<< */
body {
  font-family: "Poppins";
}

:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.pop-up.admin-login {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  top: 0;
  left: 0;
  background-color: #f6faff;
  text-align: center;
  /* Main Area */
}

.pop-up.admin-login .pop-up-contant {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop-up.admin-login .pop-up-contant p {
  margin-top: 25px;
  font-size: 13px;
}

.pop-up.admin-login .pop-up-contant .inner-content {
  background: white;
  position: relative;
  -webkit-box-shadow: 0 0 100px #e9eef3;
  box-shadow: 0 0 100px #e9eef3;
  padding: 53px 100px 73px 100px;
  /* Logo */
  /* Heading */
  /* Form */
  /* Close Pop Up Icon */
}

.pop-up.admin-login .pop-up-contant .inner-content img {
  width: 200px;
  margin-bottom: 20px;
}

.pop-up.admin-login .pop-up-contant .inner-content p {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 25px;
  color: #2f2e41;
}

.pop-up.admin-login .pop-up-contant .inner-content p span {
  color: #ef4126;
}

.pop-up.admin-login .pop-up-contant .inner-content form {
  text-align: left;
  /* Email */
  /* Password */
  /* Labels */
  /* Inputs */
}

.pop-up.admin-login .pop-up-contant .inner-content form .fetch-email {
  margin-bottom: 16px;
}

.pop-up.admin-login .pop-up-contant .inner-content form .fetch-password {
  position: relative;
  margin-bottom: 30px;
  /* Eye ICon */
}

.pop-up.admin-login .pop-up-contant .inner-content form .fetch-password svg {
  position: absolute;
  bottom: 11px;
  right: 11px;
  cursor: pointer;
}

.pop-up.admin-login .pop-up-contant .inner-content form label {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #2f2e41;
  margin-bottom: 3px;
}

.pop-up.admin-login .pop-up-contant .inner-content form input {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #2f2e41;
  border: 1px solid #2f2e41;
  outline: none;
  padding: 11px 10px;
  width: 415px;
}

.pop-up.admin-login .pop-up-contant .inner-content form input[type="submit"] {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 52px;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  background-color: #ef4126;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 30px;
}

.pop-up.admin-login .pop-up-contant .inner-content form input[type="submit"]:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #2f2e41;
  color: #ffffff;
}

.pop-up.admin-login .pop-up-contant .inner-content .--close-login-- {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 27px;
}

.pop-up.admin-login .pop-up-contant .inner-content .--close-login-- svg .icon {
  fill: #2f2e41;
}

@media screen and (max-width: 650px) {
  .pop-up.login-to-konfidential {
    /* Main Area */
  }
  .pop-up.login-to-konfidential .pop-up-contant {
    width: 100%;
    padding: 0px 20px;
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content {
    padding: 8% 2%;
    /* Form */
    /* Close Pop Up Icon */
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content p {
    padding: 0px 40px;
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content form {
    /* Email */
    /* Password */
    /* Inputs */
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content form .fetch-email {
    margin-bottom: 10px;
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content form .fetch-password {
    margin-bottom: 25px;
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content form input {
    width: 100%;
  }
  .pop-up.login-to-konfidential .pop-up-contant .inner-content .--close-login-- {
    right: 0px;
    top: 17px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.preloader {
  position: fixed;
  z-index: 999999999999;
  width: 100%;
  top: 0;
  left: 0;
  place-items: center;
  height: 100vh;
  background-color: #fff;
}

.preloader .toggle-loader {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px 40px;
  color: #040808;
  background-color: #ef4126;
  -webkit-box-shadow: 0 0 6px #ef4126;
          box-shadow: 0 0 6px #ef4126;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.preloader .toggle-loader:hover, .preloader .toggle-loader:focus {
  -webkit-box-shadow: 0 0 10px #ef4126;
          box-shadow: 0 0 10px #ef4126;
}

.preloader .toggle-loader:active {
  -webkit-box-shadow: 0 0 2px #ef4126;
          box-shadow: 0 0 2px #ef4126;
}

.preloader .loader {
  --loader-color: #ef4126;
  --loader-shadow-color: #ef4126;
  --loader-part-size: 17px;
  --loader-size: calc(var(--loader-part-size) * 3);
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader .loader.hidden {
  display: none;
}

.preloader .loader span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--loader-part-size);
  height: var(--loader-part-size);
  background-color: var(--loader-color);
  -webkit-box-shadow: 0 0 5px var(--loader-shadow-color);
          box-shadow: 0 0 5px var(--loader-shadow-color);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: main 6s ease infinite, fading 6s ease infinite;
          animation: main 6s ease infinite, fading 6s ease infinite;
}

.preloader .loader span:nth-child(1) {
  --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);
  --translationValueWhenAssebled: var(--loader-part-size), 0px;
  --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);
  top: 0;
  left: var(--loader-part-size);
  -webkit-animation-delay: 0s, 0.2s;
          animation-delay: 0s, 0.2s;
}

.preloader .loader span:nth-child(2) {
  --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);
  --translationValueWhenAssebled: 0px, calc(var(--loader-part-size) * -1);
  --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);
  top: var(--loader-part-size);
  left: 0;
}

.preloader .loader span:nth-child(3) {
  --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);
  --translationValueWhenAssebled: 0px, var(--loader-part-size);
  --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);
  top: var(--loader-part-size);
  right: 0;
  -webkit-animation-delay: 0s, 0.4s;
          animation-delay: 0s, 0.4s;
}

.preloader .loader span:nth-child(4) {
  --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);
  --translationValueWhenAssebled: calc(var(--loader-part-size) * -1), 0px;
  --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);
  bottom: 0;
  left: var(--loader-part-size);
  -webkit-animation-delay: 0s, 0.6s;
          animation-delay: 0s, 0.6s;
}

@-webkit-keyframes fading {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.2;
  }
  16.6%,
  33.2% {
    opacity: 1;
  }
  41.6% {
    opacity: 0.2;
  }
  50%,
  66.6% {
    opacity: 1;
  }
  74.9% {
    opacity: 0.2;
  }
  83.2%,
  100% {
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.2;
  }
  16.6%,
  33.2% {
    opacity: 1;
  }
  41.6% {
    opacity: 0.2;
  }
  50%,
  66.6% {
    opacity: 1;
  }
  74.9% {
    opacity: 0.2;
  }
  83.2%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes main {
  0%,
  25% {
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
  }
  33.3%,
  58.3% {
    -webkit-transform: rotate(45deg) translate(var(--translationValue));
            transform: rotate(45deg) translate(var(--translationValue));
  }
  62.45% {
    -webkit-transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
            transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
  }
  66.6%,
  91.6% {
    -webkit-transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
            transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
  }
  100% {
    -webkit-transform: rotate(180deg) translate(0, 0);
            transform: rotate(180deg) translate(0, 0);
  }
}

@keyframes main {
  0%,
  25% {
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
  }
  33.3%,
  58.3% {
    -webkit-transform: rotate(45deg) translate(var(--translationValue));
            transform: rotate(45deg) translate(var(--translationValue));
  }
  62.45% {
    -webkit-transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
            transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
  }
  66.6%,
  91.6% {
    -webkit-transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
            transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
  }
  100% {
    -webkit-transform: rotate(180deg) translate(0, 0);
            transform: rotate(180deg) translate(0, 0);
  }
}
/*# sourceMappingURL=login.css.map */