/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>> Fonts Sizes <<<<<<<<< */
:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Models <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--escorts--portugal-- {
  position: relative;
  padding: 103px 40px 92px 40px;
  text-align: center;
  /* >>>> All Girls <<<< */
}

.--escorts--portugal-- h1 {
  font-family: "Spectral", serif;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #c9a882;
}

.--escorts--portugal-- .--all--girls-- {
  /* >>>> Girls <<<< */
  /* >>>> View All Button <<<< */
}

.--escorts--portugal-- .--all--girls-- .container {
  max-width: 1288px;
}

.--escorts--portugal-- .--all--girls-- .container .col-lg-4 {
  padding: 0px 44px 0px 44px;
}

.--escorts--portugal-- .--all--girls-- a {
  text-decoration: none;
  width: 100%;
}

.--escorts--portugal-- .--all--girls-- .--girls-- {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin-top: 55px;
  /* >>>> Girl Image <<<< */
  /* >>>> Image Overlay Border <<<< */
  /* >>>> Details About Girls <<<< */
}

.--escorts--portugal-- .--all--girls-- .--girls-- img {
  width: 100%;
  height: 100%;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--image-- {
  position: relative;
  width: 100%;
  height: 100%;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--image-- .--overlay-- {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.--escorts--portugal-- .--all--girls-- .--girls--:hover .--image-- .--overlay-- {
  border: 5px solid #c9a882;
}

.--escorts--portugal-- .--all--girls-- .--girls--:hover .--details-- .--booking--details-- .--calender-- {
  background: #c9a882;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.--escorts--portugal-- .--all--girls-- .--girls--:hover .--details-- .--booking--details-- .--calender-- svg .--calender--icon-- {
  fill: #000000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* >>>> Name/Location <<<< */
  /* >>>> Booking Details <<<< */
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--name--and--location-- {
  text-align: left;
  width: 100%;
  padding: 20px 0px 0px 0px;
  /* >>>> Name <<<< */
  /* >>>> Location <<<< */
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--name--and--location-- h3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #c9a882;
  margin: 0;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--name--and--location-- h2 {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #c9a882;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  vertical-align: middle;
  /* >>>> Calender Icon <<<< */
  /* >>>> Calender Icon SVG <<<< */
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- .--calender-- {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 13px 12px 12px 13px;
  border: 1px solid #c9a882;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- svg {
  position: absolute;
  top: 48%;
  left: 50.3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- svg .--calender--icon-- {
  fill: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--escorts--portugal-- .--all--girls-- .--view--all-- {
  width: 100%;
  text-align: center;
  margin-top: 55px;
}

.--escorts--portugal-- .--all--girls-- .--view--all-- a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  opacity: 0.6;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #c9a882d2;
  padding: 10px 27px;
  border-bottom: 1px solid #c9a882d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--escorts--portugal-- .--all--girls-- .--view--all-- a:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  /* >>>> All Girls <<<< */
  .--all--girls-- .container {
    width: 90% !important;
    /* Raducing padding along with width of device */
  }
  .--all--girls-- .container .col-lg-4 {
    padding: 0px 2% 0px 2% !important;
  }
}

@media screen and (max-width: 1000px) {
  .--escorts--portugal-- {
    padding: 90px 40px 72px 40px;
    /* >>>> All Girls <<<< */
  }
  .--escorts--portugal-- h1 {
    margin-bottom: 20px;
  }
  .--escorts--portugal-- .--all--girls-- {
    /* >>>> Girls <<<< */
    /* >>>> View All Button <<<< */
  }
  .--escorts--portugal-- .--all--girls-- .container {
    width: 100% !important;
    /* Raducing padding along with width of device */
  }
  .--escorts--portugal-- .--all--girls-- .container .col-lg-4 {
    padding: 0px 1.5% 0px 1.5% !important;
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- {
    margin-top: 40px !important;
    /* >>>> Name/Location <<<< */
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--name--and--location-- {
    /* >>>> Name <<<< */
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--name--and--location-- h3 {
    font-size: 14px !important;
  }
  .--escorts--portugal-- .--all--girls-- .--view--all-- {
    margin-top: 40px;
  }
}

@media screen and (max-width: 700px) {
  .--escorts--portugal-- {
    padding: 50px 10px 72px 10px;
    /* >>>> All Girls <<<< */
  }
  .--escorts--portugal-- h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .--escorts--portugal-- .--all--girls-- {
    /* >>>> Girls <<<< */
    /* last class is just added to hide the last */
    /* odd girl just to meet the design */
  }
  .--escorts--portugal-- .--all--girls-- .container {
    /* Raducing padding along with width of device */
  }
  .--escorts--portugal-- .--all--girls-- .container .col-lg-4 {
    padding: 0px 10px 0px 10px !important;
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- {
    margin-top: 30px !important;
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--details-- {
    position: relative;
    /* >>>> Booking Details <<<< */
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- {
    position: absolute;
    right: 6px;
    top: -30px;
    /* >>>> Calender Icon <<<< */
    /* >>>> Calender Icon SVG <<<< */
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- .--calender-- {
    background: #c9a882;
  }
  .--escorts--portugal-- .--all--girls-- .--girls-- .--details-- .--booking--details-- svg .--calender--icon-- {
    fill: #000000;
  }
  .--escorts--portugal-- .--all--girls-- .--last-- {
    display: none;
  }
}

/* >>>> Adding Dropdown and Back option <<<< */
.--select-or-go-back-- {
  color: #c9a882;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1250px;
  padding: 0px 25px;
  margin-bottom: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.--select-or-go-back-- .--go-back-- {
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.--select-or-go-back-- .--go-back-- a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #c9a882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--select-or-go-back-- .--go-back-- a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

.--select-or-go-back-- .--select-city-- .dropdown {
  width: 202px;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #c9a882;
  height: 100%;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid #c9a882;
}

.--select-or-go-back-- .--select-city-- .dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.--select-or-go-back-- .--select-city-- .dropdown .select i {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  margin-top: 0px;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow-y: auto;
  padding: 0;
  list-style: none;
  z-index: 9;
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu li {
  font-size: 14px;
  color: #c9a882d2;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.849);
  color: #c9a882;
}

.--select-or-go-back-- .--select-city-- .dropdown.active i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media screen and (max-width: 768px) {
  .--select-or-go-back-- {
    margin-bottom: 40px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 620px) {
  .--select-or-go-back-- .--go-back-- {
    display: none;
  }
  .--select-or-go-back-- .--select-city-- {
    width: 100%;
  }
  .--select-or-go-back-- .--select-city-- .dropdown {
    width: 100%;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=escorts.css.map */