/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/body/body.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/header/navbar.css");

.navbar {
  .--navbar--left-- {
    margin-top: -104px;
  }
  .--navbar--right-- {
    margin-top: -106px;
  }
}
@media screen and (max-width: 1334px) {
  .navbar {
    .--navbar--left-- {
      margin-top: 0px;
    }
    .--navbar--right-- {
      margin-top: 0px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/banner/banner.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> Escort Details <<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.escort-details {
  margin: 271px 0px 0px;
  .container {
    position: relative;
    max-width: 1170px;
    padding: 0;
    .-left,
    .-right {
      padding: 0;
    }
    .-left {
      max-width: 561px;
      img {
        width: 100%;
        margin-top: 34px;
        &:first-of-type {
          margin-top: 0px;
        }
      }
    }
    .-right {
      max-width: 687px;
      .escort-about {
        padding-left: 77px;
        /* Go Back */
        .-come-back {
          width: 100%;
          text-align: right;
          a {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-decoration: none;
            color: $golden;
            transition: 0.3s;
            &:hover {
              color: $white;
              transition: 0.3s;
            }
          }
        }
        /* Name */
        .-name {
          margin-bottom: 3px;
          h1 {
            font-family: "Spectral";
            font-size: 35px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29;
            letter-spacing: normal;
            color: $golden;
          }
        }
        /* Location */
        .-location {
          margin-bottom: 19px;
          h2 {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.14;
            letter-spacing: normal;
            color: $golden;
            span {
              text-transform: uppercase;
              font-weight: 600;
            }
          }
        }
        /* Paragraph */
        .-para {
          margin-bottom: 10px;
          overflow: hidden;
          max-height: 65px;
          transition: 0.25s ease-in-out;
          p {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $white;
            margin-bottom: 10px;
            &:last-of-type {
              margin-bottom: 0px;
            }
          }
          &.active {
            transition: 0.25s ease-in-out;
            max-height: fit-content;
          }
        }
        /* Read More */
        .-read-more {
          margin-top: 15px;
          span {
            cursor: pointer;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-decoration: none;
            color: $golden;
            transition: 0.3s;
            i {
              transition: 0.3s;
            }
          }
          &.active {
            span {
              i {
                transform: rotate(-180deg);
                transition: 0.3s;
              }
            }
          }
        }
        /* Phone/Whatsapp */
        .-phone-whatsapp {
          max-width: 100%;
          margin: 33px 0px;
          .row {
            .col-lg-6 {
              text-align: center;
              border: 1px solid $golden;
              &.col-left {
                border-left: none;
                border-right: none;
              }
              &.col-right {
                border-right: none;
              }
              a {
                text-decoration: none;
                .-phone,
                .-whatsapp {
                  padding: 14px 10px;
                  span {
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $golden;
                    transition: 0.3s;
                    svg {
                      .svg-fill {
                        fill: $golden;
                        transition: 0.3s;
                      }
                    }
                  }
                }
              }
              &:hover {
                background: $golden;
                transition: 0.4s;
                a {
                  .-phone,
                  .-whatsapp {
                    span {
                      color: $black;
                      transition: 0.3s;
                      svg {
                        .svg-fill {
                          transition: 0.3s;
                          fill: $black;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        /* More Information */
        .more-info {
          ul {
            padding: 0;
            list-style: none;
            color: $white;
            margin: 0;
            margin-bottom: 25px;
            li {
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.57;
              letter-spacing: normal;
              color: $white;
              span {
                font-weight: normal;
              }
            }
          }
          p {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $white;
            margin: 0;
            margin-bottom: 3px;
            font-weight: 600;
          }
        }
        /* Book Now */
        .book-now {
          margin: 40px 0px 50px 0px;
          a {
            text-decoration: none;
            padding: 11px 40px;
            background: $golden;
            transition: 0.3s;
            span {
              font-size: 14px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              transition: 0.3s;
              color: $black;
              svg {
                margin-top: -5px;
                .svg-fill {
                  fill: $black;
                  transition: 0.3s;
                }
              }
            }
            &:hover {
              transition: 0.3s;
              background: $black;
              span {
                color: $golden;
                transition: 0.3s;
                svg {
                  .svg-fill {
                    fill: $golden;
                    transition: 0.3s;
                  }
                }
              }
            }
          }
        }
        /* Categories */
        .category {
          p {
            font-size: 12px;
          }
          ul {
            li {
              display: inline;
              color: $golden;
              a {
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: $golden;
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                  color: $white;
                  transition: 0.3s;
                }
              }
            }
          }
        }
        /* All Escorts-Names */
        .all-escorts {
          p {
            font-size: 12px;
          }
          ul {
            li {
              display: inline;
              color: $golden;
              a {
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: $golden;
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                  color: $white;
                  transition: 0.3s;
                }
              }
            }
          }
        }
        /* Share More */
        .-share {
          width: fit-content;
          cursor: pointer;
          span {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            transition: 0.3s;
            color: $golden;
            svg {
              margin-top: -5px;
              .svg-fill {
                fill: $golden;
                transition: 0.3s;
              }
            }
            &:hover {
              transition: 0.3s;
              color: $white;
              svg {
                .svg-fill {
                  fill: $white;
                  transition: 0.3s;
                }
              }
            }
          }
          .share-on {
            display: none;
            ul {
              list-style: none;
              margin: 30px 12px;
              -webkit-animation: mymove 0.7s;
              animation: mymove 0.7s;
              li {
                display: inline;
                padding: 0px 10px;
                a {
                  transition: 0.4s;
                  color: $golden;
                  i {
                    font-size: 25px;
                  }
                  &:hover {
                    color: $white;
                    transition: 0.4s;
                  }
                }
              }
            }
            &.active {
              display: block;
            }
          }
        }
        /* All Services Bottom Text */
        .all-service {
          position: absolute;
          bottom: 0;
          p {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: $white;
          }
        }
      }
    }
  }
}

@keyframes mymove {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* Adding Space between Slick Slide/Crousel Items */

/* the slides */
.slick-slide {
  margin: 0 5px;
}
/* the parent */
.slick-list {
  margin: 0 -5px;
}

/* Custom Slick Dots Start */
.slick-dots li button {
  display: none;
}
.slick-dots {
  position: absolute;
  height: 30px;
  bottom: -60px;
  width: 100%;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 5px;
    transition: all 0.5s;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 1.5px;
    background-color: rgba(255, 255, 255, 0.45);
    &.slick-active {
      background: $golden;
    }
  }
}

/* End */

@media screen and (max-width: 1300px) {
  /* >>>>>>>> Escort <<<<<<< */
  .escort-details {
    margin: 190px 0px 0px;
    padding: 0px 48px 0px 50px;
    .container {
      max-width: 100%;
      .-left,
      .-right {
        padding: 0;
      }
      .-left {
        max-width: 100%;
        img {
          width: 100%;
          margin-top: 14px;
        }
      }
      .-right {
        max-width: 100%;
        .escort-about {
          padding-left: 40px;
          /* Come Back */
          .-come-back {
            display: none;
          }
          /* Name */
          .-name {
            margin-bottom: 3px;
            h1 {
              font-size: 24px;
            }
          }
          /* Phone/Whatsapp */
          .-phone-whatsapp {
            padding: 0px 20px;
            .row {
              .col-lg-6 {
                a {
                  .-phone,
                  .-whatsapp {
                    padding: 14px 0px;
                    span {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          /* All Services Bottom Text */
          .all-service {
            position: relative;
            margin-top: 28px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  /* >>>>>>>> Escort <<<<<<< */
  .escort-details {
    margin: 175px 0px 0px;
    padding: 0px 40px 0px 40px;
    .container {
      .-left {
        padding: 0px 30px;
        margin-bottom: 70px;
      }
      .-right {
        .escort-about {
          padding-left: 0px;
          /* Phone/Whatsapp */
          .-phone-whatsapp {
            padding: 0px 20px;
            .row {
              .col-lg-6 {
                border-left: none;
                &:last-of-type {
                  border-top: none;
                }
              }
            }
          }
          /* Book Now */
          .book-now {
            a {
              display: block;
              text-align: center;
              width: 100%;
            }
          }
          /* All Services Bottom Text */
          .all-service {
            position: relative;
            margin-top: 28px;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/signature/signature.css");

/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 659px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Ads <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/ads/ads.css");

.--ad-- {
  margin-top: 74px;
  max-width: 1200px;
}

@media screen and (max-width: 1350px) {
  .--ad-- {
    max-width: 100%;
    padding: 0px 35px;
  }
}

@media screen and (max-width: 768px) {
  .--ad-- {
    margin-top: 50px;
  }
}

@media screen and (max-width: 620px) {
  .--ad-- {
    margin-top: 40px;
    padding: 0;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/login/login-pop-up.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
