/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #2f2e41;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../fonts/Poppins/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2f2e41;
}

/* Page Wrapper/Container Style */
.container {
  max-width: 100%;
  &.reports__view {
    max-width: 1400px;
  }
  img {
    width: 45px;
  }
}

/* Responsive Table Style */
.responsive-table {
  background-color: #f6faff;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  width: 100%;
  margin: 3rem 0px;
  overflow: hidden;
}
.responsive-table__row {
  display: grid;
  border-bottom: 1px solid #e6ebf0;
  padding: 0 1.5rem;
}
@media (min-width: 768px) {
  .responsive-table__row {
    grid-template-columns: 4fr 3fr 2fr 2fr 4fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.responsive-table__row th,
.responsive-table__row td {
  padding: 0.5rem;
  a {
    color: unset;
  }
  i {
    font-size: 22px;
    padding-right: 10px;
    color: #ef4126;
  }
}
.responsive-table__row th {
  padding: 0.7rem;
}
.responsive-table__head {
  background-color: #ef4126;
  color: white;
}
@media (max-width: 991px) {
  .responsive-table__head {
    display: none;
  }
}
.responsive-table__head__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: capitalize;
}
.responsive-table__body .responsive-table__row {
  transition: 0.1s linear;
  transition-property: color, background;
}
.responsive-table__body .responsive-table__row:last-child {
  border-bottom: none;
}
.responsive-table__body .responsive-table__row:hover {
  color: #ffffff;
  background-color: #ef4126;
}

.responsive-table__body .responsive-table__row:hover td {
  i {
    color: white;
  }
}
.responsive-table__body__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.responsive-table__body__text::before {
  margin-right: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .responsive-table__body__text::before {
    content: attr(data-title) " :";
  }
}
@media (max-width: 400px) {
  .responsive-table__body__text::before {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.responsive-table__body__text--name {
  font-weight: 600;
}
@media (min-width: 768px) {
  .responsive-table__body__text--name::before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--name {
    grid-column: 1/2;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--status,
  .responsive-table__body__text--types,
  .responsive-table__body__text--update {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--country {
    grid-column: 3/-1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--name,
  .responsive-table__body__text--country {
    grid-row: 2;
  }
}

/* SVG Up Arrow Style */
.up-arrow {
  height: 100%;
  max-height: 1.8rem;
  margin-left: 1rem;
}

/* SVG User Icon Style */
.user-icon {
  width: 100%;
  max-width: 4rem;
  height: auto;
  margin-right: 1rem;
}

/* Status Indicator Style */
.status-indicator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #222222;
  margin-right: 0.5rem;
}
.status-indicator--normal {
  background: #25be64;
}
.status-indicator--minor {
  background: #fed002;
}
.status-indicator--moderate {
  background: #febb02;
}
.status-indicator--severe {
  background: red;
}

/* >>>> Adding Dropdown and Back option <<<< */
.--select-or-go-back-- {
  padding: 0;
  color: #2f2e41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.--select-or-go-back-- .--go-back-- {
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.--select-or-go-back-- .--go-back-- a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #2f2e41;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--select-or-go-back-- .--select-city-- .dropdown {
  width: 202px;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #2f2e41;
  height: 100%;
  text-align: left;
  outline: none;
  border: none;
}

.--select-or-go-back-- .--select-city-- .dropdown .sortit {
  cursor: pointer;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ef4126;
}

.--select-or-go-back-- .--select-city-- .dropdown .sortit i {
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
  padding-right: 10px;
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  margin-top: 0px;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  -webkit-box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  max-height: fit-content;
  overflow-y: auto;
  padding: 0;
  list-style: none;
  z-index: 9;
  border: none;
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu li {
  font-size: 14px;
  color: #2f2e41;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: unset;
  }
  &.active {
    background: #ef4126;
    color: #fff;
  }
}

.--select-or-go-back-- .--select-city-- .dropdown .dropdown-menu li:hover {
  background: #ef4126;
  color: #fff;
}

.--select-or-go-back-- .--select-city-- .dropdown.active i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media screen and (max-width: 768px) {
  .--select-or-go-back-- {
    margin-bottom: 40px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 620px) {
  .--select-or-go-back-- .--go-back-- {
    display: none;
  }
  .--select-or-go-back-- .--select-city-- {
    width: 100%;
  }
  .--select-or-go-back-- .--select-city-- .dropdown {
    width: 100%;
  }
}

.add-new {
  max-width: 900px;
}

.search__container {
  padding-top: 60px;
}

.search__title {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ef4126;
  span {
    color: #2f2e41;
  }
  i {
    font-size: 40px;
  }
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #2f2e41;
  border-radius: 50px;
  border: 1px solid #2f2e41;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin-bottom: 20px;
}

.search__theReport {
  position: relative;
  input {
    margin-bottom: 0;
  }
  button {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
  }
}
.add-new {
  padding-bottom: 60px;
  text-align: center;
}

.the-input {
  position: relative;
  margin-bottom: 20px;
  input {
    margin-bottom: 0px;
  }
  i {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
    color: #ef4126;
  }
}

/* Radio */
$color1: #f4f4f4;
$color2: #ef4126;

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

/* Upload Image */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #fff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.295);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "\f044";
          font-family: "Font Awesome 5 Free";
          color: #ef4126;
          position: absolute;
          font-size: 20px;
          top: 8px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/* Add it button */
.add-it {
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 50%;
  background: #ef4126;
  color: #fff;
  border-radius: 40px;
  margin: 20px 0px 50px 0px;
  font-weight: 500;
}

.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #2f2e41;
  border-radius: 0;
  background-position: 100% center;
}

.credits__container {
  margin-top: 24px;
}

.credits__text {
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}

.credits__link {
  color: #ff8b88;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.credits__link:hover,
.credits__link:focus {
  color: rgb(191, 137, 135);
}

// Pagination

.pagination {
  max-width: fit-content;
  margin: auto;
}

.pagination ul {
  padding-left: 0;
  list-style-type: none;
  margin: 40px 0px 100px 0px;
}

.page-number {
  display: inline;
}

.page-number a {
  text-decoration: none;
  color: black;
}

/* Pagination 2 */
.pagination-2 .page-number {
  padding: 8px 16px;
  background-color: #f1f6fc;
  cursor: pointer;
  border-radius: 4px;

  &:first-of-type {
    margin-right: 50px;
    background: #ef4126;
    a {
      font-size: 20px;
      color: white;
    }
  }
  &:last-of-type {
    margin-left: 50px;
    background: #ef4126;
    a {
      font-size: 20px;
      color: white;
    }
  }
}

.pagination-2 .page-number:hover {
  background-color: #ef4126;
}
.pagination-2 {
  border-radius: 4px;
}
.pagination-2 .active {
  border-radius: 4px;
  background-color: #ef4126;
}

.pagination-2 .active:hover {
  background-color: #ef4126;
}

.pagination-2 .page-number:hover a {
  color: white;
}

.pagination-2 .active a {
  color: #f3f4f2;
}

.preloader {
  position: fixed;
  z-index: 999999999999;
  width: 100%;
  top: 0;
  left: 0;
  place-items: center;

  height: 100vh;

  background-color: #fff;

  .toggle-loader {
    position: absolute;
    top: 40px;
    right: 40px;

    padding: 10px 40px;

    color: #040808;

    background-color: #ef4126;
    box-shadow: 0 0 6px #ef4126;

    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: box-shadow 0.2s ease;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px #ef4126;
    }

    &:active {
      box-shadow: 0 0 2px #ef4126;
    }
  }

  .loader {
    --loader-color: #ef4126;
    --loader-shadow-color: #ef4126;
    --loader-part-size: 17px;
    --loader-size: calc(var(--loader-part-size) * 3);
    position: relative;
    width: var(--loader-size);
    height: var(--loader-size);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
      display: none;
    }

    span {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      width: var(--loader-part-size);
      height: var(--loader-part-size);

      background-color: var(--loader-color);
      box-shadow: 0 0 5px var(--loader-shadow-color);

      transform-origin: center center;

      animation: main 6s ease infinite, fading 6s ease infinite;

      &:nth-child(1) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: var(--loader-part-size), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);

        top: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.2s;
      }

      &:nth-child(2) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: 0px, calc(var(--loader-part-size) * -1);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);

        top: var(--loader-part-size);
        left: 0;
      }

      &:nth-child(3) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: 0px, var(--loader-part-size);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);

        top: var(--loader-part-size);
        right: 0;

        animation-delay: 0s, 0.4s;
      }

      &:nth-child(4) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: calc(var(--loader-part-size) * -1), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);

        bottom: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.6s;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.2;
  }
  16.6%,
  33.2% {
    opacity: 1;
  }
  41.6% {
    opacity: 0.2;
  }
  50%,
  66.6% {
    opacity: 1;
  }
  74.9% {
    opacity: 0.2;
  }
  83.2%,
  100% {
    opacity: 1;
  }
}

@keyframes main {
  0%,
  25% {
    transform: rotate(0) translate(0, 0);
  }
  33.3%,
  58.3% {
    transform: rotate(45deg) translate(var(--translationValue));
  }
  62.45% {
    transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
  }
  66.6%,
  91.6% {
    transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}
