/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #2f2e41;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);

/* >>>>>>>> Fonts Sizes <<<<<<<<< */

:root {
  --paragraph: 16px;
}
$navigations: 14px;

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.pop-up {
  &.login-to-konfidential {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    /* Main Area */
    .pop-up-contant {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
      .inner-content {
        position: relative;
        padding: 63px 100px;
        /* Heading */
        p {
          font-family: "Montserrat";
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: center;
          margin-bottom: 15px;
          color: $black;
          span {
            color: #ef4126;
          }
        }
        /* Form */
        form {
          text-align: left;
          /* Email */
          .fetch-email {
            margin-bottom: 16px;
          }
          /* Password */
          .fetch-password {
            position: relative;
            margin-bottom: 30px;
            /* Eye ICon */
            svg {
              position: absolute;
              bottom: 11px;
              right: 11px;
              cursor: pointer;
            }
          }
          /* Labels */
          label {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: $black;
            margin-bottom: 3px;
          }
          /* Inputs */
          input {
            display: block;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $black;
            border: 1px solid #2f2e41;
            outline: none;
            padding: 11px 10px;
            width: 415px;
          }
          input[type="submit"] {
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            color: $white;
            padding: 8px 42px;
            max-width: 100%;
            width: fit-content;
            text-transform: capitalize;
            background-color: #ef4126;
            border: none;
            transition: 0.3s;
            border-radius: 30px;
            &:hover {
              transition: 0.3s;
              background-color: $black;
              color: $white;
            }
          }
        }
        /* Close Pop Up Icon */
        .--close-login-- {
          position: absolute;
          cursor: pointer;
          right: 30px;
          top: 27px;
          svg {
            .icon {
              fill: $black;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .pop-up {
    &.login-to-konfidential {
      /* Main Area */
      .pop-up-contant {
        width: 100%;
        padding: 0px 20px;
        .inner-content {
          padding: 8% 2%;
          p {
            padding: 0px 40px;
          }
          /* Form */
          form {
            /* Email */
            .fetch-email {
              margin-bottom: 10px;
            }
            /* Password */
            .fetch-password {
              margin-bottom: 25px;
            }
            /* Inputs */
            input {
              width: 100%;
            }
          }
          /* Close Pop Up Icon */
          .--close-login-- {
            right: 0px;
            top: 17px;
          }
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
