/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #000000;
$white: #ffffff;
$white05: rgba(255, 255, 255, 0.5);
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);

/* >>>>>>>> Fonts Sizes <<<<<<<<< */

:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../../fonts/Spectral/stylesheet.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/body/body.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/header/navbar.css");

.navbar {
  .--navbar--left-- {
    margin-top: -104px;
  }
  .--navbar--right-- {
    margin-top: -106px;
  }
}
@media screen and (max-width: 1334px) {
  .navbar {
    .--navbar--left-- {
      margin-top: 0px;
    }
    .--navbar--right-- {
      margin-top: 0px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/banner/banner.css");

.--banner-- {
  .--banner-content-- {
    bottom: 109px;
  }
}

@media screen and (max-width: 768px) {
  .--banner-- {
    .--banner-content-- {
      top: unset;
      bottom: 76px;
      h2 {
        br {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .--banner-- {
    .--banner-content-- {
      top: unset;
      bottom: 65px;
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>> About Sobre A Konfidential <<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

.--sobre-a-konfidential-- {
  position: relative;
  padding: 100px 0px 96px 0px;
  .container {
    max-width: 100%;
    .row {
      /* >>>> Lef and Right Image <<<< */
      .col-xl-3 {
        position: relative;
        margin: 0;
        padding: 0;
        z-index: 99;
        .--left--image-- {
          position: absolute;
          left: 0;
          bottom: -178px;
        }
        .--right--image-- {
          position: absolute;
          right: 0;
          bottom: -373px;
        }
      }
    }

    /* >>>> Content <<<< */
    .--the-text-- {
      max-width: 823px;
      margin: 0 auto;
      h1 {
        font-family: "Spectral";
        font-size: 35px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: $golden;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.77;
        letter-spacing: normal;
        color: $white;
        margin-bottom: 25px;
        span {
          color: $golden;
        }
      }
      .--talk-to-us-- {
        width: 100%;
        text-align: center;
        margin-top: 55px;
        a {
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.88;
          opacity: 0.6;
          letter-spacing: normal;
          text-transform: uppercase;
          text-align: center;
          color: $golden06;
          padding: 10px 27px;
          border-bottom: 1px solid $golden06;
          transition: 0.3s;
          &:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .--sobre-a-konfidential-- {
    .container {
      .row {
        /* >>>> Lef and Right Image <<<< */
        .col-xl-3 {
          .--left--image-- {
            bottom: -178px;
            img {
              width: 300px;
            }
          }
          .--right--image-- {
            width: 300px;
            bottom: -303px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1334px) {
  .--sobre-a-konfidential-- {
    .container {
      max-width: 100%;
      .row {
        /* >>>> Lef and Right Image <<<< */
        .col-xl-3 {
          display: none;
        }
      }
      .--the-text-- {
        max-width: 570px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .--sobre-a-konfidential-- {
    padding: 81px 40px 65px 40px;
  }
}

@media screen and (max-width: 620px) {
  .--sobre-a-konfidential-- {
    padding: 44px 0px 60px 0px;
    .container {
      .--the-text-- {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> Our Locations <<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/papular-locations/locations.css");

.--locations-- {
  height: 759px;
  padding: 78px 0px 85px 0px;
  background: url("../../../images/sobre-a-konfidential/location-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    .--line-- {
      background-color: $white;
    }
    .--all--locations-- {
      a {
        color: $white;
        border-color: $white05;
        &:hover {
          background: $white;
          color: $golden;
        }
      }
    }
    .--view--all-- {
      a {
        color: $white;
        border-color: $white;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .--locations-- {
    height: 860px !important;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/signature/signature.css");

/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 570px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/footer/footer.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

@import url("../../../sass/common/login/login-pop-up.css");

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
