/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>> Fonts Sizes <<<<<<<<< */
@import url("../../../fonts/Montserrat/stylesheet.css");
@import url("../../../fonts/Spectral/stylesheet.css");
@import url("../../../sass/common/body/body.css");
@import url("../../../sass/common/header/navbar.css");
@import url("../../../sass/common/banner/banner.css");
@import url("../../../sass/common/papular-locations/locations.css");
@import url("../../../sass/common/signature/signature.css");
@import url("../../../sass/common/footer/footer.css");
@import url("../../../sass/common/login/login-pop-up.css");
:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */
/* >>>>>>>>> Montserrat <<<<<<<<< */
/* >>>>>>>>> Spectral <<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.navbar .--navbar--left-- {
  margin-top: -104px;
}

.navbar .--navbar--right-- {
  margin-top: -106px;
}

@media screen and (max-width: 1334px) {
  .navbar .--navbar--left-- {
    margin-top: 0px;
  }
  .navbar .--navbar--right-- {
    margin-top: 0px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Banner <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--banner-- .--banner-content-- {
  bottom: 109px;
}

@media screen and (max-width: 768px) {
  .--banner-- .--banner-content-- {
    top: unset;
    bottom: 76px;
  }
  .--banner-- .--banner-content-- h2 br {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .--banner-- .--banner-content-- {
    top: unset;
    bottom: 65px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>> About Sobre A Konfidential <<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--sobre-a-konfidential-- {
  position: relative;
  padding: 100px 0px 96px 0px;
}

.--sobre-a-konfidential-- .container {
  max-width: 100%;
  /* >>>> Content <<<< */
}

.--sobre-a-konfidential-- .container .row {
  /* >>>> Lef and Right Image <<<< */
}

.--sobre-a-konfidential-- .container .row .col-xl-3 {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 99;
}

.--sobre-a-konfidential-- .container .row .col-xl-3 .--left--image-- {
  position: absolute;
  left: 0;
  bottom: -178px;
}

.--sobre-a-konfidential-- .container .row .col-xl-3 .--right--image-- {
  position: absolute;
  right: 0;
  bottom: -373px;
}

.--sobre-a-konfidential-- .container .--the-text-- {
  max-width: 823px;
  margin: 0 auto;
}

.--sobre-a-konfidential-- .container .--the-text-- h1 {
  font-family: "Spectral";
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #c9a882;
}

.--sobre-a-konfidential-- .container .--the-text-- p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 25px;
}

.--sobre-a-konfidential-- .container .--the-text-- p span {
  color: #c9a882;
}

.--sobre-a-konfidential-- .container .--the-text-- .--talk-to-us-- {
  width: 100%;
  text-align: center;
  margin-top: 55px;
}

.--sobre-a-konfidential-- .container .--the-text-- .--talk-to-us-- a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  opacity: 0.6;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #c9a882d2;
  padding: 10px 27px;
  border-bottom: 1px solid #c9a882d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.--sobre-a-konfidential-- .container .--the-text-- .--talk-to-us-- a:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1700px) {
  .--sobre-a-konfidential-- .container .row {
    /* >>>> Lef and Right Image <<<< */
  }
  .--sobre-a-konfidential-- .container .row .col-xl-3 .--left--image-- {
    bottom: -178px;
  }
  .--sobre-a-konfidential-- .container .row .col-xl-3 .--left--image-- img {
    width: 300px;
  }
  .--sobre-a-konfidential-- .container .row .col-xl-3 .--right--image-- {
    width: 300px;
    bottom: -303px;
  }
}

@media screen and (max-width: 1334px) {
  .--sobre-a-konfidential-- .container {
    max-width: 100%;
  }
  .--sobre-a-konfidential-- .container .row {
    /* >>>> Lef and Right Image <<<< */
  }
  .--sobre-a-konfidential-- .container .row .col-xl-3 {
    display: none;
  }
  .--sobre-a-konfidential-- .container .--the-text-- {
    max-width: 570px;
  }
}

@media screen and (max-width: 768px) {
  .--sobre-a-konfidential-- {
    padding: 81px 40px 65px 40px;
  }
}

@media screen and (max-width: 620px) {
  .--sobre-a-konfidential-- {
    padding: 44px 0px 60px 0px;
  }
  .--sobre-a-konfidential-- .container .--the-text-- h1 {
    font-size: 24px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>> Our Locations <<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.--locations-- {
  height: 759px;
  padding: 78px 0px 85px 0px;
  background: url("../../../images/sobre-a-konfidential/location-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.--locations-- .container .--line-- {
  background-color: #ffffff;
}

.--locations-- .container .--all--locations-- a {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}

.--locations-- .container .--all--locations-- a:hover {
  background: #ffffff;
  color: #c9a882;
}

.--locations-- .container .--view--all-- a {
  color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 700px) {
  .--locations-- {
    height: 860px !important;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>> Signature <<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>> Signature position <<<<<<< */
.--signature-- {
  top: 570px;
  right: 175px;
}

@media screen and (max-width: 768px) {
  /* >>>>>>>> Signature position <<<<<<< */
  .--signature-- {
    right: 51px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Footer <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>> Login to Konfidential Pop Up <<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=sobre-a-konfidencial.css.map */