/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> Konfidencial <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Common <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */

/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */

$bgcolor: #121212;
$black: #2f2e41;
$white: #ffffff;
$golden: #c9a882;
$golden04: #c9a8825b;
$golden06: #c9a882d2;
$sharpGolden: rgba(154, 136, 2, 0.4);
$lightGolden: rgba(255, 255, 255, 0.45);
$almostWhite: #d8d8d8;
$inputBG: #242424;
$messageError: #ce3737;

.heading-area- {
  margin-bottom: 90px;
}

.--main-p-- {
  font-family: "Poppins";
  font-weight: 700;
  text-transform: capitalize;
  color: #ef4126;
  letter-spacing: 1px;
  text-align: center;
}

.--main-h-- {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #2f2e41;
}

/* >>>>>>>>>>>>>> Font Family <<<<<<<<<<<<<< */
/* >> Fonts are directly coming from fonts folder << */

/* >>>>>>>>> Montserrat <<<<<<<<< */
@import url("../../fonts/Montserrat/stylesheet.css");

/* >>>>>>>>> Spectral <<<<<<<<< */
@import url("../../fonts/Poppins/stylesheet.css");

body {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

a:hover {
  text-decoration: none;
}

.border-left {
  border-left: 2px solid #ef4126 !important;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  .list-group-item {
    &.sub {
      background: #f6faff;
    }
    span {
      color: #2f2e41;
      &.fa,
      &.fas,
      &.bi {
        color: #ef4126;
      }
    }
    &.active {
      background: #ef4126;
      span {
        color: white;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px) {
  .sidebar {
    max-width: 18rem;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

.main-heading {
  padding: 0px 7%;
  h1 {
    color: #ef4126;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
    color: #2f2e41;
  }
}

.preloader {
  position: fixed;
  z-index: 999999999999;
  width: 100%;
  top: 0;
  left: 0;
  place-items: center;

  height: 100vh;

  background-color: #fff;

  .toggle-loader {
    position: absolute;
    top: 40px;
    right: 40px;

    padding: 10px 40px;

    color: #040808;

    background-color: #ef4126;
    box-shadow: 0 0 6px #ef4126;

    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: box-shadow 0.2s ease;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px #ef4126;
    }

    &:active {
      box-shadow: 0 0 2px #ef4126;
    }
  }

  .loader {
    --loader-color: #ef4126;
    --loader-shadow-color: #ef4126;
    --loader-part-size: 17px;
    --loader-size: calc(var(--loader-part-size) * 3);
    position: relative;
    width: var(--loader-size);
    height: var(--loader-size);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
      display: none;
    }

    span {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      width: var(--loader-part-size);
      height: var(--loader-part-size);

      background-color: var(--loader-color);
      box-shadow: 0 0 5px var(--loader-shadow-color);

      transform-origin: center center;

      animation: main 6s ease infinite, fading 6s ease infinite;

      &:nth-child(1) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: var(--loader-part-size), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);

        top: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.2s;
      }

      &:nth-child(2) {
        --translationValue: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: 0px, calc(var(--loader-part-size) * -1);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);

        top: var(--loader-part-size);
        left: 0;
      }

      &:nth-child(3) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);
        --translationValueWhenAssebled: 0px, var(--loader-part-size);
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4), calc(var(--loader-part-size) / 4);

        top: var(--loader-part-size);
        right: 0;

        animation-delay: 0s, 0.4s;
      }

      &:nth-child(4) {
        --translationValue: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4 * -1);
        --translationValueWhenAssebled: calc(var(--loader-part-size) * -1), 0px;
        --translationBeforeDisassembling: calc(var(--loader-part-size) / 4 * -1), calc(var(--loader-part-size) / 4);

        bottom: 0;
        left: var(--loader-part-size);

        animation-delay: 0s, 0.6s;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.2;
  }
  16.6%,
  33.2% {
    opacity: 1;
  }
  41.6% {
    opacity: 0.2;
  }
  50%,
  66.6% {
    opacity: 1;
  }
  74.9% {
    opacity: 0.2;
  }
  83.2%,
  100% {
    opacity: 1;
  }
}

@keyframes main {
  0%,
  25% {
    transform: rotate(0) translate(0, 0);
  }
  33.3%,
  58.3% {
    transform: rotate(45deg) translate(var(--translationValue));
  }
  62.45% {
    transform: rotate(90deg) translate(var(--translationValueWhenAssebled));
  }
  66.6%,
  91.6% {
    transform: rotate(135deg) translate(var(--translationBeforeDisassembling));
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
